# Backups
adventure_series/maps/bak

# Reports not yet finished
dx/ukw_loop.html

# Documentation
notes.txt
dx/grundlagen_adv
dx/panasonic_rf-b45_service-manual
dx/yupiteru_mvt7000_service-manual

# Test files
util/out.txt
util/quellenverzeichnis.awk

# Scripts
list_html.txt
list_hikr-images.txt
list_images.vim

# Misc
misc
template.html

# Old files
old
old/css_media_all_ori.txt

# Reference files
grundlagen_blyton.txt
adventure_series/grundlagen_adventure.txt
adventure_series/grundlagen_adventure_maps_circus.txt
adventure_series/grundlagen_adventure_maps_island.txt
adventure_series/grundlagen_adventure_maps_river.txt
adventure_series/grundlagen_adventure_maps_sea.txt
adventure_series/grundlagen_adventure_maps_valley.txt
famous_five/grundlagen_famous-five.txt
famous_five/grundlagen_ff_modell_eisenbahn_zeltlager.txt
famous_five/grundlagen_ff_saillon.txt
famous_five/grundlagen_ff_smugglers_top.txt
secret_series/grundlagen_secret.txt
secret_series/grundlagen_secret_maps_killi.txt
secret_series/grundlagen_secret_moon.txt
secret_series/grundlagen_secret_mountain.txt
dok/grundlagen_sykplot2pano.txt
dx/grundlagen_adv.txt
dx/grundlagen_mvt7000.txt
dx/grundlagen_mvt7000_2.txt
dx/grundlagen_ukw_loop.txt

# Screenshots
screenshots

# Temporary files
adventure_series/notes.txt
