html { height: 100%; }

body {
	height: 100%;
	background-color: #b43831;
	background-image: url("img/background_main.png");
	background-position: top center;
	font-family: Segoe UI, Optima, Dejavu Sans Condensed, sans-serif;
	font-size: 100%;
	background-repeat: repeat-y;
	margin: 0px;
	color: #262626;
}

#mainContainer {
	border: 1px solid #3d3d3d;
	background-image: url("img/content_main.png");
	background-repeat: repeat-y;
	margin: 0 auto;
	width: 1000px;
	padding: 0;
	text-align: left;
}

/*===================================*/

#header {
	background: #000000 url(img/header.jpg) no-repeat right;
	height: 177px;
	width: 1000px;
	margin: 0;
	padding: 0;
}

#header .box { padding: 56px 16px; margin: 0; }
#header h2 { 
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
}
#header h3 {
	font-weight: normal;
	font-size: 20px;
	color: #CCCCCC;
	margin: 0;
}

/*===================================*/

#navigation {
	background-color: #47526a;
	background-image: url("img/navigation_main.png");
	height: 32px;
	margin: 0;
	padding: 0;
}

#topShadow {
	background-image: url("img/content_shadow.png");
	height: 29px;
	margin: 0;
	padding: 0;
}
	
div.navi_schmal {
	float: left;
	width: 120px; 
	height: 32px;
	margin: 0;
	padding: 0;
	background: url("img/nav_link.png");
	background-position: 0 -32px;
	border-right: 1px solid #2d333f;
}

div.navi_mittel {
	float: left;
	width: 135px; 
	height: 32px;
	margin: 0;
	padding: 0;
	background: url("img/nav_link.png");
	background-position: 0 -32px;
	border-right: 1px solid #2d333f;
}

div.navi_breit {
	float: left;
	width: 190px; 
	height: 32px;
	margin: 0;
	padding: 0;
	background: url("img/nav_link.png");
	background-position: 0 -32px;
	border-right: 1px solid #2d333f;
}

#navigation a {
	display: block;
	width: 100%;
	height: 22px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding-top: 8px;
	background: url("img/nav_link.png");
	background-position: 0 0;
}
	
#navigation a:hover { background-image: none; }

/*=================================== */

#content {
	line-height: 18px;
	text-align: justify;
	width: 819px;
	float: left;
	position: relative;
	margin-bottom: 16px;
}

/* Einzug links */
#content .box {
	padding: 0 50px;
}

#content .pager { margin-bottom: 10px; }

#content .spacer {
	background-image: url("img/content_spacer.png");
	height: 29px;
	margin: 0;
	padding: 0;
}

#content .box .bericht_bild {
	width: 350px;
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	text-indent: 0;
	text-align: left;
}

#content .box .bericht_bildlegende {
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 20px;
}

#content h1 {
	font-size: 25px;
	color: #7c1a12;
	line-height: normal;
	margin-bottom: 8px;
}

#content h2 {
	font-size: 21px;
	color: #7c1a12;
	line-height: normal;
	margin-bottom: 7px;
}

#content h1 h2 a {
	text-decoration: none;
	font-weight: bold;
}
	
#content h3, th {
	font-size: 18px;
	font-weight: bold;
	color: #262626;
	margin-bottom: 5px;
	margin-top: 8px;
}

#content p {
	font-size: 16px;
	font-weight: normal;
	line-height: 125%;
	margin-top: 5px;
}

#content sup {
	font-size: 10px;
	font-weight: normal;
}

/* fuer Datenschutzerklaerung */
#content address {
	font-style: normal;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* fuer schoene Aufzaehlungen */
#content ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
}
#content ul > li:before {
	display: inline-block;
	content: "\2013\00a0"; /* Halbgeviertstrich, gefolgt von einem geschuetzten Leerzeichen */
	width: 1em;
	margin-left: -1em;
	margin-top: 0.3em;
}

#content a {
	color: #677798;
	text-decoration: none;
}
#content a:hover { text-decoration: underline;}

#content img.border {
	padding: 1px;
	background-color: #6d6d6d;
	border: 1px solid #3e3e3e;
	margin-left: 8px;
	margin-right: 8px;
}

#content map{
  padding:0;
}

/*===================================*/
	
#sidebar {
	width: 181px;
	float: right;
	position: relative;
}
	
#sidebar .box { padding: 0 10px; }

#sidebar .spacer {
	background-image: url("img/sidebar_spacer.png");
	height: 29px;
	margin: 0;
	padding: 0;
}

#sidebar h2, h3 {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 16px 0;
}

#sidebar p {
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	word-spacing: 1px;
	color: #F0F0F0;
}

#sidebar img {
	margin: 0;
	padding: 1px;
	background-color: #556076;
	border: 1px solid #394150;
}
#sidebar ul {
	padding: 0;
	margin: 0;
}
#sidebar li {
	list-style-type: none;
	padding-left: 16px;
	padding-top: 7px;
}
#sidebar a {
	color: #cfd5e2;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}
#sidebar a:hover { text-decoration: underline; }

/*===================================*/
	
#bottomShadow {
	background-image: url("img/content_bShadow.png");
	height: 29px;
	margin: 0;
	padding: 0;
	clear: both;
	position: relative;
}

#footer {
	background-image: url("img/footer_main.png");
	height: 49px;
	margin: 0;
	padding: 0;
	clear: both;
	position: relative;
}

#footer .box {
	text-align: center;
	margin: auto;
	padding-top: 8px;
	font-size: 10px;
	font-style: italic;
	color: #f0f0f0;
}

#footer a {	color: #cfd5e2; }

/*===================================*/
/* Image Gallery, 10/11/2019 */
#galerie
a {
	padding: 0.1em;
}

a:focus,
a:hover {
	background: #09c;
}

@media all and (min-width: 35em) {
	.details {
		position: absolute;
		right: -5%;
		top: -20%;
		background-color: #F1F3F4;
		border: 0.1em solid #3983ab;
		border-radius: 0 8px 8px;
		padding: 1em 1em .2em;
		width: 50em;
		max-height: 80em;
		overflow: auto;
		display: none;
	}
	.details img {
		width: 100%;
	}
	.details:target {
		display: block;
	}
	.close, .next, .prev {
		width: 0;
		height: 0;
		border: 0;
		text-shadow: none;
		color: transparent;
	}
	.close:after {
		position: absolute;
		top: 1em;
		right: 1em;
		content: "X";
		color: white;
		background: #c32e04;
		font: font: bold 1em/150% Georgia, Times, serif;
		border: 0.1em solid #3983ab;
		border-radius: 0 8px 8px;
		display: block;
		text-align: center;
		width: 1.5em;
		height: 1.5em;
		padding: 0.2em 0 0 0em;
	}
	
	.next:after {
		position: absolute;
		bottom: 2em;
		right: 1em;
		content: ">";
		color: white;
		background: #c32e04;
		font: font: bold 1em/150% Georgia, Times, serif;
		border: 0.1em solid #3983ab;
		border-radius: 0 8px 8px;
		display: block;
		text-align: center;
		width: 1.5em;
		height: 1.5em;
		padding: 0.2em 0 0 0em;
	}
	
	.prev:after {
		position: absolute;
		bottom: 2em;
		left: 1em;
		content: "<";
		color: white;
		background: #c32e04;
		font: font: bold 1em/150% Georgia, Times, serif;
		border: 0.1em solid #3983ab;
		border-radius: 0 8px 8px;
		display: block;
		text-align: center;
		width: 1.5em;
		height: 1.5em;
		padding: 0.2em 0 0 0em;
	}
}

/* nicht zu druckende Bereiche festlegen*/
@media print {
	#header {
		display: none;
	}
	#navigation {
		display: none;
	}
	#topShadow {
		display: none;
	}
	#bottomShadow {
		display: none;
	}
	#sidebar {
		display: none;
	}
	#footer {
		display: none;
	}
}

